<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <h3>User Registration</h3>
    <hr>
    <form th:action="@{/saveUser}" method="post" th:object="${user}">

        <div class="form-group row">
<!--            <label for="role">Select Role</label>-->
<!--            <select class="form-control" th:field="*{selectedRole}" id="role">-->
            <label for="role"> Please select a Role to continue </label>
            <select name="selectedRole" id="role" class="form-control">
                <option value="TENANT">Tenant</option>
                <option value="OWNER">Owner</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
<!--    <p th:text="${user}"></p>-->

</div>
</body>
</html>