<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}"><head>
    <meta charset="UTF-8">
    <title>Property Details</title>
</head>
<body>
<h1>Property Details</h1>
<div layout:fragment="main-content">

    <div th:if="${ not#lists.isEmpty(tens)}">
        <table class="table">
            <thead>
            <tr>
                <th>type</th>
                <th>name</th>
                <th>description</th>
                <th>address</th>
                <th>price</th>
                <th>status</th>
                <th>registrationDate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="property : ${properties}">
                <td th:text="${property.type}"></td>
                <td th:text="${property.name}"></td>
                <td th:text="${property.description}"></td>
                <td th:text="${property.price}"></td>
                <td th:text="${property.status}"></td>
                <td th:text="${property.registrationDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(properties)}">
        No property found!
    </div>
</div>


<!--<div>-->
<!--    <p><strong>First Name:</strong> <span th:text="${tenant.firstName}"></span></p>-->
<!--    <p><strong>Last Name:</strong> <span th:text="${tenant.lastName}"></span></p>-->
<!--    <p><strong>Username:</strong> <span th:text="${tenant.username}"></span></p>-->
<!--    <p><strong>Email:</strong> <span th:text="${tenant.email}"></span></p>-->
<!--    <p><strong>Phone Number:</strong> <span th:text="${tenant.phoneNumber}"></span></p>-->
<!--</div>-->
<a href="/property">Back to Properties</a>
</body>
</html>
