<!DOCTYPE html>
<html lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="mastfoot mt-auto" th:fragment="header">
  <div class="inner"></div>
    <div sec:authorize="isAuthenticated()">
        Authenticated username:
        <span sec:authentication="name"></span>
        Authenticated user roles:
        <span sec:authentication="principal.authorities"></span>
    </div>

</footer>
</body>
</html>